body,.wrap{
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    font-size:.14rem;
    background:#efefef;
    overflow-y:scroll;

}
.header{
    width:100%;
    height:auto;
    background:#fff;
    padding-top:.1rem;
    padding-bottom:.1rem;
}
.head{
    width:100%;
    height:.35rem;
    line-height:.35rem;
    display:flex;
    .img{
        width:1.5rem;
        margin-left:.1rem;
        img{
            width:100%;
            height:100%;
        }
    }
    .icon{
        flex:1;
        margin-right:.1rem;
        text-align:right;
        .fa{
            font-size:.2rem;
            color:#939393;
            margin-left:.1rem;
        }
    }
}
.ban{
    width:100%;
    height:auto;
    .swiper-container,.swiper-wrapper,.swiper-slide{
        width:100%;
        height:1.8rem;
        img{
            width:100%;
            height:100%;
        }
    }
}
.ban-down-cont{
    width:100%;
    height:auto;
    background:#fff;
    margin-bottom:.1rem;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
    p{
        height:.38rem;
        line-height:.38rem;
        padding-left:.1rem;
        padding-right:.1rem;
        border-bottom:.01rem dashed #bebebe;
        position:relative;
        &:nth-child(2){
            border:none;
        }
        .fa{
            color:#ee727a;
            margin-right:.05rem;
        }
        span{
            color:#7f7f89;
            position:absolute;
            right:.1rem;
        }
    }
}
.ul-item{
    width:100%;
    height:auto;
    background:#fff;
    ul{
        width:100%;
        height:.8rem;
        display:flex;
        text-align:center;
        li{
            flex:1;
            margin-top:.1rem;
            margin-bottom:.1rem;
            &:nth-child(2n){
                i{
                     background:skyblue;
                }
            }
            i{
                display:block;
                width:.4rem;
                height:.4rem;
                border-radius:50%;
                background:pink;
                font-size:.2rem;
                text-align:center;
                line-height:.4rem;
                margin:0 auto;
            }
            span{
                display:inline-block;
                margin-top:.05rem;
            }
        }
    }
}